[Unit]
After=network.service
Description=Sense Environment Background Service

[Service]
Type=simple
WorkingDirectory=/home/pi/app/icarosdev.sense.server
ExecStart=/home/pi/app/icarosdev.sense.server/start-service.sh
Restart=always
Environment="PYTHONPATH=$PYTHONPATH:/home/pi/.local/lib/python3.9/site-packages"

# User=do-user

[Install]
WantedBy=multi-user.target
# WantedBy=default.target